{% extends "layout.html" %}

{% block body %}
<section class="text-center" style="margin-top: 25px;">
    <div class="badge bg-dark text-wrap">
        <h1 style="color: white" > {{restaurants}} </h1>
    </div>
    <form action="/print">
        <button type="submit" class="btn btn-secondary btn-lg randomizerbutton" > "I want something else"</button>
    </form>
    <form action="/take_me_there">
        <button type="submit" class="btn btn-secondary btn-lg randomizerbutton" > "Take me there!"</button>
    </form>

</section>

{% endblock %}